<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyin.tts.mapper.MoyinDomainMapper">

    <resultMap type="com.moyin.tts.domain.MoyinDomain" id="MoyinDomainResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="status" column="status"/>
        <result property="value" column="value"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectMoyinDomainVo">
        select id, name, status, value, create_time, update_time
        from moyin_domain
    </sql>

    <select id="selectList" parameterType="com.moyin.tts.domain.MoyinDomain"
            resultMap="MoyinDomainResult">
        <include refid="selectMoyinDomainVo"/>
        <where>
            <if test="name != null ">and name like concat('%', #{name}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectById" parameterType="Long" resultMap="MoyinDomainResult">
        <include refid="selectMoyinDomainVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.moyin.tts.domain.MoyinDomain">
        insert into moyin_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">`name`,</if>
            <if test="value != null">`value`,</if>
            <if test="status != null">`status`,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="MoyinDomain">
        update moyin_domain
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="value != null">`value` = #{value},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete
        from moyin_domain
        where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from moyin_domain where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>