<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyin.tts.mapper.MoyinTagMapper">

    <resultMap type="MoyinTag" id="TagResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTagVo">
        select id, name, value, status, create_time, update_time
        from moyin_tag
    </sql>

    <select id="selectTagList" parameterType="MoyinDict" resultMap="TagResult">
        <include refid="selectTagVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="value != null  and value != ''">and name like concat('%', #{value}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectTagById" parameterType="Long" resultMap="TagResult">
        <include refid="selectTagVo"/>
        where id = #{id}
    </select>

    <insert id="insertTag" parameterType="MoyinDict">
        insert into moyin_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">`name`,</if>
            <if test="value != null">`value`,</if>
            <if test="status != null">`status`,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTagById" parameterType="MoyinDict">
        update moyin_tag
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="value != null">`value` = #{value},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTagById" parameterType="Long">
        delete
        from moyin_tag
        where id = #{id}
    </delete>

    <delete id="deleteTagByIds" parameterType="String">
        delete from moyin_tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>