[mysqld]
# 基本设置
bind-address = 0.0.0.0
port = 3306
datadir = /var/lib/mysql
server-id = 1

# 日志文件
log-error = /var/log/mysql/error.log

# 缓存和缓存池
innodb_buffer_pool_size = 4G  # 服务器有 16GB 内存
innodb_log_file_size = 1G
innodb_log_buffer_size = 64M

# 限制最大连接数
max_connections = 500  # 根据实际情况调整
thread_cache_size = 50

# 查询性能
query_cache_size = 0  # 禁用查询缓存
query_cache_type = 0

# 临时表和表缓存
tmp_table_size = 256M
max_heap_table_size = 256M
table_open_cache = 2000

# 慢查询日志
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1

# 二进制日志
log-bin=/var/lib/mysql-bin/mysql-bin
binlog_format=row

# 其他设置
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency = 0
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_io_capacity = 2000
innodb_read_io_threads = 4
innodb_write_io_threads = 4
